<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/259962/pexels-photo-259962.jpeg');">
        <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user" src="https://static.pexels.com/photos/114411/pexels-photo-114411.jpeg">
          <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/323780/pexels-photo-323780.jpeg');">
        <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user" src="https://static.pexels.com/photos/361081/pexels-photo-361081.jpeg">
          <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.pexels.com/photos/9538/desk-office-computer-work.jpg');">
        <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user" src="https://static.pexels.com/photos/264165/pexels-photo-264165.jpeg">
          <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
