---
title: Le Wagon - Middleman
---

<!-- <div id="home">
  <div class="home-content"> -->
    <%= partial "layouts/banner" %>
    <h2 class="text-center">Top flats</h2>
    <%= partial "layouts/card" %>
 <!--  </div>
</div> -->
